---
import Layout from "../layouts/Layout.astro";
---

<Layout title="spbw.dev" description="Web Development & Design">
  <header class="bg-white border-b px-6">
    <div class="h-28 grid container items-center">
      <a class="font-bold text-lg" href="/" title="Go Home">spbw.dev</a>
    </div>
  </header>

  <main>
    <section class="bg-black text-white px-6 py-40">
      <div class="container">
        <h1 class="font-bold text-3xl mb-4">Modern Web Design & Development</h1>
        <p class="max-w-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
          inventore possimus. Similique excepturi facilis, voluptas voluptatem,
          ad aliquid ipsum quas autem nemo, delectus quo?
        </p>
      </div>
    </section>

    <section class="bg-gray-50 px-6 py-24">
      <div class="container">
        <h2 class="font-bold text-2xl mb-6">Prototypes</h2>
        <ul class="grid gap-6 lg:grid-cols-2">
          {
            [0, 1, 2, 3, 4].map((x) => (
              <li>
                <article class="bg-white border p-8">
                  <h3 class="font-bold text-lg mb-2">
                    Article heading lorem ipsum sit amet dolor
                  </h3>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Blanditiis, quasi consectetur. Quidem cum labore modi
                    pariatur! Animi modi vitae libero enim repellat consectetur
                    neque.
                  </p>
                </article>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>

  <footer class="px-6 py-12 border-t">
    <div class="container">
      <p class="text-center">
        &copy; {new Date().getFullYear()} SPBW
      </p>
    </div>
  </footer>
</Layout>
