---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

const allArticles = await getCollection("articles");
---

<Layout title="spbw.dev" description="Web Development & Design">
  <section class="px-6 py-40">
    <div class="container">
      <div class="prose">
        <h1>Modern Web Design & Development</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
          inventore possimus. Similique excepturi facilis, voluptas voluptatem,
          ad aliquid ipsum quas autem nemo, delectus quo?
        </p>
      </div>
    </div>
  </section>

  <section class="px-6 py-24">
    <div class="container">
      <h2 class="font-semibold text-2xl mb-6">
        <a href="/articles">Articles</a>
      </h2>
      <ul class="grid gap-6 lg:grid-cols-2">
        {
          allArticles.map((article: any) => (
            <li>
              <a href={`/articles/${article.slug}`}>
                <article class="bg-white border p-8">
                  <h3 class="font-semibold text-lg mb-2">
                    {article.data.title}
                  </h3>
                  <p>{article.data.description}</p>
                </article>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
